.App {
  background-color: #e5c8e9;
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 5px 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer-text{
  display: inline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
}

.chart-info{
  font-size: 30px;
}

.App-footer{
  padding: 20px 20px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.line-chart{
  background-color:rgba(43, 46, 53, 0.959) ;
  margin: 30px 40px;
  color: white;
  border: 8px solid rgb(154, 245, 112);
  padding: 40px 15px;
  border-radius: 20px;
}

.timer{
  font-size: 20px;
}
.App-link {
  color: #a3b2b6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
